<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Ecopoints</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar> </ion-toolbar>
      </ion-header>
      <h3></h3>
      <ion-card>
        <img
          src="assets/img/ecopoints.jpg"
          alt="Imagen de una persona introducciendo elementos a recicilar en un contenedor"
        />
        <ion-card-subtitle class="ion-text-center"></ion-card-subtitle>
        <ion-text color="success">
          <h1 class="ion-text-center">Mapa de puntos verdes</h1>
        </ion-text>
        <ion-card-content>
          <h2 class="ion-margin">Acá vendría el mapa.</h2>
          <h2 class="ion-margin">La imagen de arriba es ilustrativa</h2>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import {
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonContent,
} from "@ionic/vue";

export default {
  name: "Tab1",
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage },
};
</script>